build/
install/
log/
.vscode/
*.swp
src/zsmall_firmware/firmware/tools/PID_tune2/arduino_secrets.h
src/zsmall_firmware/firmware/smallbot_motors/smallbot_adc_mqtt/arduino_secrets.h
src/zsmall_utils/zsmall_utils/test_left.py
src/zsmall_utils/zsmall_utils/test_right.py